# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# GUI/App specific
wifi_export.json
wifi_export.csv
*.png
*.ico

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# IDEs
.vscode/
.idea/
